{% extends 'view/base.html' %}
{% load static %}
{% block content %}


<div class="center">
    <h1 class="name_site">Изыски прошлого</h1>
    <p class="bio">Ресторан - с русской душой</p>
</div>
<footer>
    <div class="Footer">
        <div class="contact">
            <h3>Информация</h3>
            <p>Адрес: <a
                    href="https://yandex.ru/maps/193/voronezh/house/ulitsa_nikitina_25/Z0AYcw5hSkEFQFtrfXR2cnprZg==/?ll=39.591342%2C51.873682&z=17">Россия,
                Воронеж, ул. Никитина, 25</a></p>
            <p>Контактный номер: +7(495)123-45-67</p>
            <p>Почта: <a href="#">info@izyskiproshlogo.ru</a></p>
        </div>


        <div class="wrap">
            <h3 class="Social_nazv">Наши сети</h3>
            <ul>
                <li>
                    <button class="social_butt"><a href="https://t.me/+ZkVWFWmI_483ZDNi"><img class="socialImg"
                                                                                              src="{% static 'images/telegram.png' %}">
                    </a></button>
                    <p class="Social">Telegram</p>

                </li>
                <li>
                    <button class="social_butt"><a href="https://www.youtube.com/@foodtop10"><img class="socialImg"
                                                                                                  src="{% static 'images/Youtube.png' %}">
                    </a></button>
                    <p class="Social">YouTube</p>

                </li>
                <li>
                    <button class="social_butt"><a href=""><img class="socialImg" src="{% static 'images/vk.png' %}">
                    </a>
                    </button>
                    <p class="Social">Вконтакте</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}