{% extends 'view/base.html' %}
{% load static %}
{% block content %}
<div class="container_rg">

    <form method="post" class="register">
        <h1 id="regist">Авторизация</h1>

        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}

        {% csrf_token %}

        <p class="rg">
            <label for="username">Имя пользователя:</label>
            <input type="text" name="username" id="username" value="{{ username }}" required>
        </p>

        <p class="rg">
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" required>
        </p>
        <button>Войти</button>
    </form>
</div>
{% endblock %}